/********************************************************
	BAZA
*********************************************************/

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Courgette';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';


* {
/*	border:1px solid red;
*/}

html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}

body, html {
	padding:0;
	margin:0;
	background:white;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color:black;
	background:white;
}

.body_center {
	margin:0 auto;
}

.body_pad {
	padding:0 40px;
}

.max_width,
.max_width_1 {
	max-width:1040px;
}

.max_width_2 {
	max-width:1240px;
}

.max_width_3 {
	max-width:1440px;
}

.max_width_4 {
	max-width:700px;
}

a {
	text-decoration:none;
	color:#454545;
}

img.safe {
	max-width:100%;
	height:auto;
}

/********************************************************
	MENU
*********************************************************/

menu {
	padding:0;
	margin:0;
	background:white;
}

menu > .wrapper {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

menu > .wrapper > *{
	margin:auto 0;
}




menu > .wrapper > .logo {
	margin:20px 20px 20px 0;
	background:transparent;
	border:1px solid transparent;
	color:#FE3404;
	font-weight:900;
}

menu > .wrapper > .logo,
menu > .wrapper > .logo * {
	transition:all 500ms, color 300ms;
}

menu > .wrapper > .logo:hover {
	color:#8504FE;
}

menu > .wrapper > .logo:hover > .elem_line {
	border-bottom:1px solid #8504FE;
}

menu > .wrapper > .logo > .elem_1 {
	display:block;
	font-size:20px;
}

menu > .wrapper > .logo > .elem_line {
	display:block;
	border-bottom:1px solid #FE3404;
	margin:5px 0;
	width:100%;
}

menu > .wrapper > .logo > .elem_2 {
	display:block;
	font-size:18px;
}




menu > .wrapper > ul.main_menu {
	padding:0;
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	list-style:none;
}

menu > .wrapper > ul.main_menu li {
	padding:10px 30px;
}

menu > .wrapper > ul.main_menu li > a {
	display:block;
	font-size:14px;
	color:#3D3D3D;
	border-bottom:1px solid transparent;
	transition:all 500ms;
	font-weight:400;
}

menu > .wrapper > ul.main_menu li > a:hover {
	color:#6AB072;
}




menu > .wrapper > .social {
	display:flex;
	flex-wrap:wrap;
	padding:10px 20px;
}

menu > .wrapper > .social > a {
	margin:10px;
}

menu > .wrapper > .social > a.icon {
	display:block;
	opacity:0.3;
	width:24px;
	height:24px;
	background-position:center;
	background-repeat:no-repeat;
	transition:opacity 500ms;
}

menu > .wrapper > .social > a.icon:hover {
	opacity:1;
}

menu > .wrapper > .social > a.icon.mail {
	background:url('../img/mail-icon.png');
}

menu > .wrapper > .social > a.icon.fb {
	background:url('../img/facebook-logo.png');
}

/********************************************************
	FOOTER
*********************************************************/

footer {
	background:#0d0d0d;
}

footer > .wrapper {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

footer > .wrapper > .tile {
	padding:20px;
	margin:20px 30px;
}

footer > .wrapper > .tile p {
	font-size:13px;
	font-weight:300;
	color:white;
	padding:0;
}


/********************************************************
	FRONTPAGE
*********************************************************/

.frontpage_seg_1 {
	background:#0a0a0a;
}

.frontpage_seg_1 > .wrapper {
	display:flex;
	flex-direction:row-reverse;
	flex-wrap:wrap;
}




.frontpage_seg_1 > .wrapper > .left {
	flex-grow:1;
	flex-basis:30%;
	display:flex;
	flex-direction:column;
}

.frontpage_seg_1 > .wrapper > .left > .tile {
	flex-grow:1;
	display:flex;
	justify-content:flex-start;
	padding:20px;
	background:#0a0a0a;
}

.frontpage_seg_1 > .wrapper > .left > .tile > a {
	display:block;
	padding:30px 40px;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	margin:auto 20px;
	background:transparent;
	color:rgba(255,255,255,0.5);
	border:1px solid rgba(255,255,255,0.5);
	transition:all 500ms;
}

.frontpage_seg_1 > .wrapper > .left > .tile > a:hover {
	color:rgba(254, 52, 4, 1);
	border:1px solid rgba(254, 52, 4, 1);
}




.frontpage_seg_1 > .wrapper > .right {
	flex-grow:1;
	flex-basis:70%;
}

.frontpage_seg_1 > .wrapper > .right > .photo {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	width:100%;
	height:500px;
}



.frontpage_seg_2 {
	background:#1a1a1a;
}

.frontpage_seg_2 > .wrapper {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}



.frontpage_seg_2 > .wrapper > .left {
	flex-grow:1;
	flex-basis:30%;
	display:flex;
	justify-content:center;
	padding:20px;
}

.frontpage_seg_2 > .wrapper > .left > .desc {
	margin:auto 0;
	color:white;
	padding:30px;
	font-family: 'Courgette', cursive;
	font-size:20px;
	border-right:2px solid white;
}



.frontpage_seg_2 > .wrapper > .right {
	flex-grow:1;
	flex-basis:70%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.frontpage_seg_2 > .wrapper > .right > .tile {
	flex-grow:1;
	flex-basis:20%;
	display:flex;
	min-width:150px;
	justify-content:center;
	padding:20px;
}

.frontpage_seg_2 > .wrapper > .right > .tile > a {
	margin:auto;
	display:block;
	opacity:0.5;
	transition:opacity 500ms;
}

.frontpage_seg_2 > .wrapper > .right > .tile > a:hover {
	opacity:1;
}


/********************************************************
	FRONTPAGE
*********************************************************/

.posts_archive_1 {
	background-color:#1C1C1C;
}

.posts_archive_1 > .wrapper {
	overflow:hidden;
}

.posts_archive_1 .post {
	padding:20px 0;
	overflow:hidden;
	font-family:'Open Sans', sans-serif;
}

.posts_archive_1 .post > .title {
	font-size:22px;
	font-weight:bold;
	padding:15px 0;
	display:inline-block;
	color:#FFD561;
	transition:all 500ms;
}

.posts_archive_1 .post > .title:hover {
	padding-left:10px;
}

.posts_archive_1 .post > .time {
	font-size:16px;
	font-weight:bold;
	padding-bottom:15px;
	color:#3E6E8C;
	border-bottom:1px solid #454545;
}

.posts_archive_1 .post > .excerpt {
	font-size:16px;
	line-height:35px;
	color:#A3A3A3;
	padding:10px 0;
}

.posts_archive_1 .post > .read_more {
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	padding:20px 0;
	float:right;
	clear:both;
	color:#FFD561;
	transition:all 500ms;
}

.posts_archive_1 .post > .read_more:hover {
	padding-right:10px;
}




.pagination {
	text-align:center;
	margin:20px 0;
	font-size:16px;
}

.pagination > .page-numbers {
	display:inline-block;
	padding:5px 10px;
	background-color:#3B4F40;
	color:white;
	border-radius:5px;
}

.pagination > .page-numbers:hover {
	background-color:#40515C;
}

.pagination > .page-numbers.prev {
	
}

.pagination > .page-numbers.next {
	
}

.pagination > .page-numbers.current {
	background-color:#5C5340;
}